.message-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-top: 30px;

  &::-webkit-scrollbar{
    width:15px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: rgba(230, 81, 74, 1);
    border-radius: 8px;
  }

}

