.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(116, 115, 115, 0.562);
  z-index: 1000;
}
.modal {
  width: 500px;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 15px;
  align-items: center;
  @media screen and (max-width:767.98px) {
    width:290px;
  }
  &__title {
    margin: 0 0 20px 0;
    font-size: 29px;
    @media screen and (max-width:767.98px) {
      font-size:20px;
    }
  }
  &__input {
    flex: 1 1;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(139, 138, 138, 0.575);
    padding: 10px 0 10px 8px;
  }
  &__submit-btn {
    flex: 0 0 75px;
    cursor: pointer;
    color:#fff;
    background-color: rgba(230, 81, 74, 1);
    cursor: pointer;
    transition: all .5s ease-in-out;
    &:hover{
        
        background-color: rgba(190, 49, 43, 1);
    }
    font-size: 14px;
    border: 0;
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px;
  
    @media screen and (max-width:767.98px) {
      margin-left:0;
      flex:  0 0 auto;
      margin-top: 15px;
      padding:11px;
    }
  }
}

.inputs-wrapper {
  display: flex;
  width: 100%;
  @media screen and (max-width:767.98px) {
    flex-direction: column;
    
  }
}
