* {
  margin: 0;
  padding: 0;
}

#root{
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
}

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url("../fonts/#{$file_name}.ttf");
    font-display: swap;
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@include font("Montserrat-Medium", "Montserrat-Medium", "400", "normal");
@include font("Montserrat-Black", "Montserrat-Black", "700", "normal");
@include font("Montserrat-Bold", "Montserrat-Bold", "800", "normal");

.chat {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 15px 0px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 650px;
  height:80%;
  margin: auto;
  
  font-family: "Montserrat-Medium";
  background-color: #5257ef;;

  @media screen and (max-width:767.98px) {
    width:80vw;
    min-width: 320px;
    max-height: 500px;
    height: 100%;
  }
}
