.message {
  display: flex;
  align-items: center;
  margin:0 15px 30px 15px;
  

  &-user-avatar {
    flex: 0 0 50px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media screen and (max-width:767.98px) {
      
      margin-bottom: 20px;
    }
  }
  &__textBlock {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color:#fff;
    @media screen and (max-width:767.98px) {
      flex:1 1 65%;
      margin-bottom: 20px;
      font-size:13px;
    }
  }

  &-user-name {
    font-weight: 700;
    margin-bottom: 5px;
  }

  &-time {
    font-size: 12px;
    color:#fff;
    @media screen and (max-width:767.98px) {
      margin-left:5px;
    }
  }
  &__like-and-time {
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex: 0 0 80px;
    margin: 0 15px 0 auto;
    @media screen and (max-width:767.98px) {
      margin:0;
      flex:1 0 100%;
    }
  }
  &-like {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: auto;
    color:#fff;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__isLiked {
    color: rgb(241, 52, 52);
  }

  @media screen and (max-width:767.98px) {
    flex-wrap: wrap;
  }
}
